@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
.menu {
  height: 10%;
  width: 100%;
  display: flex;
}
.menu__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
.menu__logo img {
  cursor: pointer;
}
.menu__main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 0 8%;
}
.menu__main-menu li {
  list-style-type: none;
  position: relative;
}
.menu__main-menu a {
  text-decoration: none;
  color: grey;
  transition: all 0.3s;
}
.menu__login {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu__login button {
  padding: 5px 30px;
  border-radius: 100px;
  cursor: pointer;
}
.menu__login--sign-up {
  background-color: transparent;
  margin-right: 10px;
  border: 1px solid #2b45ac;
  transition: all 0.4s;
}
.menu__login--sign-up:hover {
  border: 1px solid transparent;
  background-color: #2b45ac;
  color: white;
}
.menu__login--sign-in {
  background-color: #2b45ac;
  color: white;
  transition: all 0.4s;
  border: 1px solid transparent;
}
.menu__login--sign-in:hover {
  background-color: transparent;
  border: 1px solid #2b45ac;
  color: #2b45ac;
}

.sub-menu {
  position: absolute;
  top: -100%;
  left: 0;
  width: 180px;
  height: 200px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.3s;
}

.sub-menu li {
  width: 100%;
  height: 100%;
  position: relative;
}

.sub-menu li a {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  transition: all 0.3s;
}

.sub-menu li a:hover {
  border-left: 2px solid #2b45ac;
  padding-left: 20%;
}

.content {
  height: 90%;
  display: flex;
}
.content > div {
  width: 50%;
}
.content__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content__text h1 {
  font-size: 50px;
  padding-bottom: 1rem;
  letter-spacing: 2px;
}
.content__text p {
  padding-bottom: 2rem;
}
.content__text form {
  display: flex;
  margin-bottom: 10px;
}
.content__text input[type=text] {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  border: 1px solid gray;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.content__text input[type=button] {
  height: 40px;
  width: 90px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid #2b45ac;
  background-color: #2b45ac;
  color: white;
  cursor: pointer;
}
.content__text span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 5px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0 12%;
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  font-weight: 500;
}

a {
  font-weight: 600;
}

p {
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
